.wrapper {
    height: 109px;
    width: 344px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: flex-start;
    margin-left: 2rem;
    align-items: center;
    border-radius: 14px;
}

.wrapper:hover {
    background-color: #E3B748;
}

.contentSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40px;
    cursor: pointer;
}

.adjustImg {
    height: 68px;
    width: 68px;
}

.adjustImg img {
    height: 100%;
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.data h3 {
    font-size: 24px;
    font-weight: 600;
}

.data p {
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
}