.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
}

.content {
    max-width: 1137px;
    max-height: 826px;
}

.carousel {
    display: flex;
    flex-direction: column;
}


.carouselBtns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0.5rem;
    right: 0rem;
}

.carouselBtns > *:not(:last-child) {
    margin-right: 20px;
}

.header {
    display: block;
    position: relative;
    left: -24rem;
    top: 6rem;
}

.header p {
    font-size: 54px;
    font-weight: 600;
    height: 154px;
    width: 374px;
    margin-left: 100px;
}